.picture {
    border-radius: 50%;
    width: 80%;
}

.socialIcon{
    display: none;
    position: absolute;
    margin-top: -240px;
    background-color: #1188e28c;
    border-radius: 50%;
    color: white;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 90px;
    padding-bottom: 89px;
}
.instructor:hover .socialIcon{
    display: block;
}

.icon{
    border: white solid 2px;
    border-radius: 50%;
    margin: 5px;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    color: white;
  }

  #fb{
    padding-right: 14px;
    padding-left: 14px;
  }

  .icon:hover{
    background-color: white;
    color: black;
  }



  .login{
    background-image: url('../src/img/assets/10005.png'),url('../src/img/assets/10004.png');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, top left;
  }
